<section class="projects">
    <div class="project" *ngFor="let project of projects">
        <div class="header">
            <h2 class="title">{{ project.title }}</h2>
            <span class="date">{{ project.date | date: 'MMMM yyyy' }}</span>
        </div>
        <div class="content">
            <h4 class="subtitle">Description:</h2>
            {{ project.content }}
        </div>
        <div class="challenge" *ngIf="project.challenge">
            <h4 class="subtitle">Challenge:</h2>
            {{ project.challenge }}
        </div>
    </div>
</section>


