body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
}

li {
    list-style-type: none;
}

a {
    color: #333;
    text-decoration: none;
}

h2 {
    font-size: 3rem;
    margin: 2rem 0;
    text-transform: uppercase;
}

h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

p {
    font-size: 1rem;
    font-weight: normal;
}

.project {
    margin: 1rem 0;
}

.title {
    margin: 1rem 0;
}

.color__green {
    color: #2e8a5a;
    margin: 2rem 0;
}

i.fa {
    width: 1rem;
    height: 1rem;
    margin: 0 0.7rem 0 0;
}

ul {
    padding: 0;
    margin-top: 1rem;
}

.position {
    &.is-current {
        margin: 1rem 0;
    }
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    h3 {
        margin: 0 0 0 1.5rem;
    }
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 260px;
        height: 200px;
        padding-right: 5rem;
        background-image: url('assets/images/site-logo.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .contact {
        
        li {
            display: flex;
            justify-content: flex-start;
        }
    }
}

.skills {

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.container {
    width: 90%;
    margin: 1.7rem auto;
    max-width: 1200px;
}

.content {
    font-size: 1rem;
    font-weight: 100;
}

@media print {
    .skills ul {
        display: block;
    }
}